<!DOCTYPE html>
<html>
<body>


<pre style="text-align:center;">
ZOOM MEETING LINKS (2CO5)
<%const date=new Date() ;%>
<%const day= weekday[date.getDay()]; %>

<%if (day =="Sunday" || day=="Saturday"){ %>
    <h4>No Class Today 🎉 🎉 🎊 🎊</h4>
<%}else{%>
    <%=day%>
    <div style="text-align: center; font-size: medium; ">
    <%data[day].forEach((lol)=>{%>
       <p><%=lol.time%> <a href = <%=lol.link%> target="_blank" ><%=lol.code%></a></p>
   <% })%>
</div>
<%}%>
</pre>

</body>
</html>